<p>Дано натуральное число n и целые числа a1, a2,..an. Определить есть ли 
среди заданной последовательности чисел отрезки (непрерывные 
последовательности), состоящие из полных квадратов. Если есть, то 
подсчитать их количество и определить самый длинный из отрезков.</p>
<%= form_tag("/lab8/view", :method => "get") do %>
	<%= label_tag("Введите числа: ") %>
	<%= text_field_tag(:a1) %>
	<%= submit_tag("Результат") %>
<% end %>